@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e7f5ff;
  font-family: "Poppins", sans-serif;
  color: #343a40;
}

.header {
  background-color: #fff;
}

.navbar {
  width: 1200px;
  margin: 0 auto;
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 36px;
  text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}

.highlight {
  color: #4dabf7;
}

.nav-buttons {
  display: flex;
  gap: 32px;
}

.nav-buttons button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 3px;
  transition: all 500ms ease;
}

.nav-buttons button:hover {
  color: #4dabf7;
}

.icons {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  height: 16px;
  width: 16px;
}

svg {
  fill: #4dabf7;
}
